notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

# Do not start two builds, one for the branch and one for the PR.
skip_branch_with_pr: true

image: Visual Studio 2015

environment:
  matrix:
      - MINICONDA: "C:\\Miniconda36-x64"
        PYTHON_VERSION: "3.6"
      - MINICONDA: "C:\\Miniconda37-x64"
        PYTHON_VERSION: "3.7"

install:
  # If there is a newer build queued for the same PR, cancel this one. The AppVeyor
  # 'roll-out builds' option is supposed to serve the same purpose but it is problematic
  # because it tends to cancel builds pushed directly to master instead of just PR
  # builds (or the converse). Credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
      https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
      Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
        throw "There are newer queued builds for this pull request, failing early." }

  # Add miniconda to PATH
  - ps: $env:PATH = "$env:MINICONDA;$env:MINICONDA\Scripts;$env:MINICONDA\bin;$env:PATH"

  # Configure conda
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - ps: conda install python=$env:PYTHON_VERSION

  - pip install tox-conda

  # Run tests
  - tox -e pytest

build: false
