# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

# MacOS specific service store
.DS_Store

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
.eggs/
.installed.cfg
.Python
build/
*build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
sdist/
var/
wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
*.sublime-project
*.sublime-workspace

# Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Unit test / coverage reports
*.cover
.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
nosetests.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3
local_settings.py

# Flask stuff:
.webassets-cache
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/build/
docs/source/_build/
docs/source/**/*.db
docs/source/**/*.db-shm
docs/source/**/*.db-wal
docs/source/refs.bib.bak

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# VSCode project settings
.vscode

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE
.idea/

# Project specific
*.bak
*.db
*.~lock.*
*notes/
.pytask.sqlite3
src/estimagic/_version.py
src/optimagic/_version.py
