name: estimagic

channels:

  - defaults
  - conda-forge

dependencies:

  - python=3.6
  - pip=19.0.3
  - pandas=0.24
  - numpy=1.16
  - pygmo=2.10
  - conda-build
  - anaconda-client
  - numdifftools>= 0.9.20
  - bokeh=1.1
  - scipy=1.2.1
  - conda-verify
  - jupyter
  - fuzzywuzzy
  - mpi
  - mpi4py
  - pip:
    - doc8
    - pre-commit
    - pytest
    - pytest-mock
    - pytest-xdist
    - restructuredtext_lint
    - tox-conda
    - black
    - wheel
    - petsc
    - petsc4py
