---
name: optimagic
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.10  # dev
  - cyipopt>=1.4.0  # dev, tests
  - pygmo>=2.19.0  # dev, tests
  - jupyterlab  # dev, docs
  - nlopt  # dev, tests
  - pdbpp  # dev
  - pip  # dev, tests, docs
  - pytest  # dev, tests
  - pytest-cov  # tests
  - pytest-xdist  # dev, tests
  - setuptools_scm  # dev
  - statsmodels  # dev, tests
  - toml  # dev
  - cloudpickle  # run, tests
  - joblib  # run, tests
  - numpy<2.0  # run, tests
  - pandas  # run, tests
  - plotly  # run, tests
  - pybaum>=0.1.2  # run, tests
  - scipy>=1.2.1  # run, tests
  - sqlalchemy  # run, tests
  - myst-nb  # docs
  - sphinx  # docs
  - sphinx-copybutton  # docs
  - sphinx-design  # docs
  - sphinx-panels  # docs
  - sphinxcontrib-bibtex  # docs
  - seaborn  # dev, tests
  - mypy>=1.11  # dev, tests
  - pyyaml  # dev, tests
  - jinja2  # dev, tests
  - furo  # dev, docs
  - annotated-types  # dev, tests
  - pip:  # dev, tests, docs
      - DFO-LS  # dev, tests
      - Py-BOBYQA  # dev, tests
      - fides==0.7.4  # dev, tests
      - kaleido  # dev, tests
      - pre-commit  # dev
      - -e .  # dev
      # type stubs
      - pandas-stubs  # dev, tests
      - types-cffi  # dev, tests
      - types-openpyxl  # dev, tests
      - types-jinja2  # dev, tests
      - sqlalchemy-stubs  # dev, tests
