# The MANIFEST.in specifies which files are copied over from a temporary directory to
# site-packages after ``pip install``. Examples can be found here:
# https://www.reddit.com/r/Python/comments/40s8qw/simplify_your_manifestin_commands/ and
# https://blog.ionelmc.ro/presentations/packaging.

# Test what is included in the package by running ``python setup.py sdist`` and inspect
# the tarball.

include CITATION
include LICENSE
include CHANGES.rst

recursive-include src *.css
recursive-include src *.csv
recursive-include src *.db
recursive-include src *.html
recursive-include src *.py

exclude *.sh
exclude *.yaml
exclude *.yml
exclude *.pickle
exclude pytask.ini
exclude tox.ini

prune docs
prune tests
prune .conda

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *-checkpoint.ipynb
global-exclude *.ipynb_checkpoints
