/* Remove execution count for notebook cells. */
div.prompt {
    display: none;
}

/* Getting started index page */

.intro-card {
    background: #fff;
    border-radius: 0;
    padding: 30px 10px 10px 10px;
    margin: 10px 0px;
    max-height: 85%;
}

.intro-card .card-text {
    margin: 20px 0px;
}

div#index-container {
    padding-bottom: 20px;
}

a#index-link {
    color: #333;
    text-decoration: none;
}

/* reference to user guide */
.gs-torefguide {
    align-items: center;
    font-size: 0.9rem;
}

.gs-torefguide .badge {
    background-color: #130654;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

.gs-torefguide a {
    margin-left: 5px;
    color: #130654;
    border-bottom: 1px solid #FFCA00f3;
    box-shadow: 0px -10px 0px #FFCA00f3 inset;
}

.gs-torefguide p {
    margin-top: 1rem;
}

.gs-torefguide a:hover {
    margin-left: 5px;
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid #b2ff80f3;
    box-shadow: 0px -10px 0px #b2ff80f3 inset;
}
