/* Classes for the index page. */
.index-card-image {
    padding-top: 1rem;
    height: 68px;
    text-align: center;
}

.index-card-link {
    color: var(--sd-color-card-text);
    font-weight: bold;
}

pre {
  padding-left: 20px
}

li pre {
  padding-left: 20px
}

.highlight {
    background: #f5f5f5
}

.highlight button.copybtn{
    background-color: #f5f5f5;
}

.highlight button.copybtn:hover {
    background-color: #f5f5f5;
}
