name: Continuous Integration Workflow
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '*'

jobs:
  run-tests:
    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.6', '3.7']
    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install core dependencies.
        shell: bash -l {0}
        run: conda install -c conda-forge tox-conda

      - name: Install fixes for Python 3.7 on Windows
        if: runner.os == 'Windows' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: conda install -c conda-forge bokeh conda-build numpy pygmo scipy

      - name: Run pytest.
        shell: bash -l {0}
        run: tox -e pytest -- --cov-report=xml --cov=./

      - name: Upload coverage report.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run sphinx.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: tox -e sphinx

      - name: Run pre-commits.
        if: runner.os == 'Linux' && matrix.python-version == '3.7'
        shell: bash -l {0}
        run: tox -e linting
